<h1>Articulos</h1>
<div class="input-group mb-3 mt-3">
  <input
    type="text"
    class="form-control"
    placeholder="Buscador"
    aria-label="Buscador"
    aria-describedby="button-addon2"
    #busqueda
    (keyup.Enter)="filtroNom = busqueda.value"
  />
  <button
    class="btn btn-primary"
    type="button"
    id="button-addon2"
    (click)="filtroNom = busqueda.value"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-search"
      viewBox="0 0 16 16"
    >
      <path
        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
      />
    </svg>
  </button>
</div>
<button
  class="btn btn-primary w-100 mb-3"
  type="button"
  data-bs-toggle="collapse"
  data-bs-target="#collapseExample"
  aria-expanded="false"
  aria-controls="collapseExample"
>
  Categorias y Fabricantes
</button>
<div class="collapse" id="collapseExample">
  <div class="card card-body mb-3">
    <div class="categorias">
      <h5>Categorias</h5>
      <div
        class="form-check form-check-inline"
        *ngFor="let a of getCategorias()"
      >
        <input
          class="form-check-input"
          type="checkbox"
          id="inlineCheckbox1-{{ a.id }}"
          value="option1"
          (click)="filtroArray(arrayCat, a.id)"
        />
        <label class="form-check-label" for="inlineCheckbox1-{{ a.id }}">{{
          a.nombre
        }}</label>
      </div>
    </div>
    <div class="fabricantes">
      <h5>Fabricantes</h5>
      <div
        class="form-check form-check-inline"
        *ngFor="let a of getFabricantes()"
      >
        <input
          class="form-check-input"
          type="checkbox"
          id="inlineCheckbox1-{{ a.id }}"
          value="option1"
          (click)="filtroArray(arrayFab, a.id)"
        />
        <label class="form-check-label" for="inlineCheckbox1-{{ a.id }}">{{
          a.nombre
        }}</label>
      </div>
    </div>
    <button
      class="btn btn-danger w-100 mt-3"
      type="button"
      (click)="resetFilters()"
    >
      Limpiar Filtros
    </button>
  </div>
</div>
<div class="card-group column-gap-5 row-gap-4">
  <app-tarjetas-articulos
    *ngFor="
      let articulos of getArticulos()
        | pipeCat : arrayCat
        | pipeFab : arrayFab
        | pipeNom : filtroNom
    "
    [articulos]="articulos"
  ></app-tarjetas-articulos>
</div>
