.column {
  margin: 1vh;
}
input[type="number"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  text-align: center;
  height: 20px;
}
